* {
    padding: 0;
    margin: 0;
}

.container-rules {
    min-width: 100vw;
    min-height: 5vh;
    display: block;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    align-items: left;
    background-color: rgb(50, 50, 50) 
}

.nav-rules {
    display: block;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: row;
    min-height: auto;
    padding: 1rem;
}

.nav-button-rules {
    text-align: center;
    padding: 1rem;
    min-width: 2rem;
    min-height: .5rem;
    border-radius: 50%;
    margin-top: .2rem;
    color: #fff;
}

.section-container {
    width: 100vw;
    height: 200vh;
    display: flex;
    background-color: rgb(105, 105, 105);
}

.section-container .section {
    width: 10vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: left;
    text-align: left;
    border: 2px solid black;
}

.section .button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.section-container .text {
    text-align: left;
    font-size: 1.3rem;
}

footer {
    position: bottom;
    left: 0; bottom: 0;
    padding: 10px;
    background: #015d66;
    color: #fff;
    width: 100%;
}

footer .copyright {
    text-align: center;
}