* {
    padding: 0;
    margin: 0;
}

.nav-container-field {
    min-width: 100vw;
    min-height: 5vh;
    display: block;
    flex-direction: row;
    justify-content: left;
    align-content: left;
    align-items: left;
    background-color: rgb(50, 50, 50) 
}

.field-container-field {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.nav-field {
    display: block;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: row;
    min-height: auto;
    padding: 1rem;
}

.nav-button-field {
    text-align: center;
    padding: 1rem;
    min-width: 2rem;
    min-height: .5rem;
    border-radius: 50%;
    margin-top: .2rem;
    color: #fff;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
}

.board th {
    padding: .5em;
}

.board td {
    width: 5em;
    height: 5em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    background-color: rgb(120, 0, 0);
}

.board tr:nth-child(odd) td:nth-child(odd) {
    background-color: beige;
}

.board tr:nth-child(even) td:nth-child(even) {
    background-color: beige;
}

footer {
    position: bottom;
    left: 0; bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff;
    width: 100%;
}

footer .copyright {
    text-align: center;
}